apiVersion: v1
kind: Service
metadata:
  name: kafka
  namespace: metrics-platform
spec:
  ports:
    - port: 9092
      targetPort: 9092
      name: plaintext
    - port: 9093
      targetPort: 9093
      name: controller
  selector:
    app: kafka
  clusterIP: None
